/mods/
/world/
/backups/
banned-ips.json
banned-players.json
*.log
/forge.jar
/libraries/
/logs/
/minecraft*.jar
/null/
/old/
/usercache.json
/usernamecache.json
/*.so
/crash-reports/
/autostart.stamp
/jar/
/journeymap/
/stall-reports/
/*.nps
