# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        115
        97
        110
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        39
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        99
        111
        110
        99
        114
        101
        116
        101
        95
        112
        111
        119
        100
        101
        114
        63
        99
        111
        108
        111
        114
        61
        119
        104
        105
        116
        101
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        -53
        120
        -38
        99
        98
        22
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        77
        -51
        73
        45
        75
        44
        -55
        47
        -54
        76
        1
        10
        -63
        56
        -15
        5
        -91
        69
        5
        57
        -87
        -10
        12
        -22
        -56
        26
        -110
        -13
        -13
        -110
        -117
        82
        75
        82
        -29
        11
        -14
        -53
        83
        82
        -117
        -20
        -109
        -13
        115
        -14
        -117
        108
        -53
        51
        50
        75
        82
        25
        24
        -34
        -80
        -121
        -62
        64
        -44
        82
        8
        -114
        76
        -123
        -16
        -127
        52
        107
        -120
        104
        0
        -29
        4
        54
        7
        -122
        6
        38
        6
        48
        -58
        2
        66
        -15
        0
        -58
        0
        86
        7
        6
        7
        70
        6
        124
        0
        -97
        126
        7
        7
        70
        -4
        -102
        9
        -24
        15
        96
        96
        0
        58
        -128
        1
        -81
        25
        112
        -1
        98
        1
        33
        12
        12
        -94
        19
        24
        24
        -40
        26
        24
        24
        -104
        64
        -104
        38
        -10
        -49
        90
        6
        86
        59
        53
        52
        52
        12
        -122
        97
        124
        66
        122
        -111
        -35
        -113
        -84
        23
        6
        24
        -120
        0
        20
        -21
        -89
        -44
        -3
        67
        61
        -2
        104
        -104
        126
        73
        -54
        63
        68
        -28
        95
        0
        22
        110
        -53
        123
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


